alias ez='vim ~/.rc_configs/zsh.rc'

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"
# THEMING STUFF
ZSH_THEME=pygmalion
HIST_STAMPS="%d/%m/%y %T"
# RPROMPT="[%D{%f/%m/%y} | %D{%L:%M:%S}]"
# Uncomment the following line to display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="true"

plugins=(
  git
  iterm2
  man
  python
  zsh-syntax-highlighting
  zsh-autosuggestions
  z
)

source $ZSH/oh-my-zsh.sh
